<div class="carousel carouselTipo" data-interval="false">
    <div class="carousel-inner" id="padreBuscar_porTipo" style="overflow: visible; z-index: 90;">
        <div class="carousel-item active" id="carouselBuscar_porTipo1">
            {{> busquedaPeticionAux}}
        </div>
        <div class="carousel-item" id="carouselBuscar_porTipo2">
            {{> busquedaRespuestaAux}}
        </div>
    </div>
</div>