<section id="hero">
    <div class="hero-container">
        <h1>Bienvenido a RequesTec</h1>
        <h2>Aplicación para la gestión de solicitudes</h2>
        <a href="#about" class="btn-get-started">Acerca de Nosotros</a>
    </div>
</section>

<main id="main">

    <section id="about">
        <div class="container">
            <div class="row about-container">
                <div class="col-lg-6 content order-lg-1 order-2">
                    <h2 class="title">Sobre Nosotros</h2>
                    <p>
                        Gracias a RequesTec usted podrá ser capaz de enviar, recibir y delegar peticiones referentes al
                        ámbito del Instituto Tecnológico de Costa Rica, tomando como foco la dirección de la Campus
                        Local de San José.
                    </p>

                    <div class="icon-box wow fadeInUp">
                        <div class="icon"><i class="fa fa-envelope-o"></i></div>
                        <h4 class="title">Enviar y Recibir Peticiones</h4>
                        <p class="description">El usuario podrá enviar peticiones a disitintos usuarios además de
                            recibir peticiones de estos.</p>
                    </div>

                    <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon"><i class="fa fa-bell-o"></i></div>
                        <h4 class="title">Recibir Recordatorios</h4>
                        <p class="description">Cuando el tiempo limite de la petición se acerque, el usuario recibirá
                            recordatorios por su correo electrónico.</p>
                    </div>

                    <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon"><i class="fa fa-archive"></i></div>
                        <h4 class="title">Consultar Peticiones</h4>
                        <p class="description">El usuario podrá consultar peticiones y respuestas anteriores.</p>
                    </div>

                </div>

                <div class="col-lg-6 background order-lg-2 my-auto order-1 wow fadeInRight"></div>
            </div>

        </div>
    </section>

    <section id="services">
        <div class="container wow fadeIn">
            <div class="section-header">
                <h3 class="section-title">Servicios</h3>
                <p class="section-description">A continuación se presentan algunos de los servicios más importantes que
                    se proveen en Genmat para sus usuarios:</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="box">
                        <div class="icon"><a><i class="fa fa-envelope-o"></i></a></div>
                        <h4 class="title">Crear Peticiónes</h4>
                        <p class="description">Cree una peticion que podrá enviar a los distintos usuario, registrados
                            en el
                            sistema.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="box">
                        <div class="icon"><a><i class="fa fa-archive"></i></a></div>
                        <h4 class="title">Accesar a la Bandeja de Peticiones</h4>
                        <p class="description">En RequesTEC podrá acceder a los distintos tipos de bandejas, desde donde
                            podrá visualizar los distintos tipos de peticiones.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="box">
                        <div class="icon"><a><i class="fa fa-user-o"></i></a></div>
                        <h4 class="title">Accesar al perfil</h4>
                        <p class="description">Los usuarios podrán accesar al perfil propio, ademas de otros perfiles de usuario</p>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section id="call-to-action">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-lg-9 text-center text-lg-left">
                    <h3 class="cta-title">¡Regístrese ya!</h3>
                    <p class="cta-text">Únase a REQUESTEC ahora para poder acceder a todas las funciones de usuario registrado.</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="/registro_usuario">Regístrese</a>
                </div>
            </div>

        </div>
    </section>

</main>