<section id="contact" class="mt-5">
    <div class="container mb-4">
        <div class="section-header">
            <h3 class="section-title">
                Busqueda Avanzada
            </h3>
        </div>
    </div>
    
    {{> busqueda}}

    <div class="app_page1">
        {{> tarjetasBandeja}}
        {{> paginacion}}
    </div>
</section>